/*
Stylesheet for CheckLister
*/


/* ----------------------------------------------------- */
/* CSS Global Level Styles and Variables */
:root {
  --max-width: 1400px;
  --background-color: #424242;
  --foreground-color: #c9c9c9;
  --foreground-color-hover: #FFFFFF;
  --accent-color: #5AB83D;
  /* --alt-accent-color: #3d50b8; */
  /* --foreground-color: #031D44;
  --background-color: #e1e0dc;
  --accent-color: #04395e; */
  --high-priority: rgba(216,60,62,0.75);
  --high-priority-hover: rgb(216,60,62);
  --normal-priority: rgba(202, 202, 202, 0.75);
  --normal-priority-hover: rgb(202, 202, 202);
  --low-priority: rgba(89, 168, 64, 0.75);
  --low-priority-hover: rgb(89, 168, 64);
  /* --high-priority: rgba(213,137,111,0.75);
  --high-priority-hover: rgb(213,137,111);
  --normal-priority: rgba(218, 183, 133, 0.75);
  --normal-priority-hover: rgb(218, 183, 133);
  --low-priority: rgba(112, 162, 136, 0.75);
  --low-priority-hover: rgb(112, 162, 136); */
  --header-font: 'Oxanium', cursive;
  --main-font: 'Roboto Condensed', sans-serif;
  --h1-size: 2.6rem;
  --h2-size: 2.2rem;
  --h3-size: 1.8rem;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px dashed white; */
}

body {
  height: 100vh;
  background-color: var(--background-color);
  display: grid;
  grid-template: 0.1fr 1fr 1fr / 1fr;
  grid-template-areas: "header"
                       "main  ";
}  

header {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  max-width: var(--max-width);
  min-height: 10vh;
  color: var(--accent-color);
  font-family: var(--header-font);
  grid-area: header;
  display: grid;
  grid-template: 1fr / 1fr 3fr;
  grid-template-areas: "left right";
  align-items: center;
}

main {
  margin: 1rem auto;
  min-height: 90vh;
  font-family: var(--main-font);
  grid-area: main;
}

footer {
  margin: 2rem auto;
  min-width: 75vw;
  font-family: var(--main-font);
}

/* ----------------------------------------------------- */
/* CSS Element Level Styles */
h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

sup {
  font-size: 60%;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input, select {
  padding: 0.5rem 0.8rem;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-size: 1.2rem;
  border: none;
  outline: none;
}

select {
  appearance: none;
  text-transform: uppercase;
  cursor: pointer;
}

textarea {
  padding: 0.4rem;
  appearance: none;
  background-color: var(--foreground-color);
  color: var(--background-color);
  font-family: var(--main-font);
  font-size: 1.2rem;
  border: none;
  border-radius: 0.25rem;
  overflow: hidden;
  resize: none;
}

/* ----------------------------------------------------- */
/* CSS Class Level Styles */
.left {
  text-align: left;
  justify-self: left;
}

.right {
  text-align: right;
  justify-self: right;
}

.center {
  text-align: center;
  justify-self: center;
}

.m-l {
  margin: 0.2rem;
}

.m-m {
  margin: 0.5rem;
}

.m-h {
  margin: 1rem;
}

.p-l {
  padding: 0.2rem;
}

.p-m {
  padding: 0.5rem;
}

.p-h {
  padding: 1rem;
}

.flex {
  display: flex;
}

.forebox {
  padding: 1rem 1.5rem;
  color: var(--foreground-color);
}

/* ----------------------------------------------------- */
/* Active Item/List Styles */
.item-list {
  display: grid;
  grid-template: auto / auto;
  grid-gap: 1.2rem;
}

.active-item {
  padding: 0.6rem 0.2rem;
  display: grid;
  grid-template: 1fr / 0.4fr 3.5fr 1.5fr 0.6fr;
  font-size: 1.2rem;
  border-left: 0.25rem solid;
  transition: position 1s;
  grid-template-areas: 'checkbox description ttl edit';
}

.priority-change {
  display: flex;
  flex-direction: column;
}

.blip-out {
  animation: blipOut 0.5s linear forwards 1.5s;
}

@keyframes blipOut {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

.checkbox {
  position: relative;
  cursor: pointer;
  justify-self: center;
  grid-area: checkbox;
}

.item-description {
  grid-area: description;
}

.deactivated-checkbox {
  position: relative;
  cursor: default;
  justify-self: center;
  opacity: 0.5;
}

.checkbox-box, .checkbox-check, .change-high, .change-normal, .change-low, .item-ttl-up, .item-ttl-down, .save-icon, .delete-icon, .pencil-icon {
  margin: 0.4rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.edit-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  opacity: 0.5;
  grid-area: edit;
}

.edit-icon:hover {
  opacity: 1;
}

.checkbox-box {
  margin: 0;
  cursor: inherit;
}

.checkbox-check {
  margin: 0;
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: inherit;
}

.checked {
  animation: checked 1s forwards;
}

@keyframes checked {
  from {
    opacity: 0;
    transform: scale(2) rotate(-30deg);

  }
  to {
    opacity: 1;
    transform: scale(1.5) rotate(0deg);
  }
}

.ttl-active, .ttl-edit {
  position: relative;
  margin: 0 0.4rem;
  width: 100%;
  align-self: flex-start;
  justify-self: center;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  grid-area: ttl;
}

.item-ttl-up, .item-ttl-down {
  cursor: pointer;
}

.item-ttl-up {
  transform: rotate(180deg);
}

.high-p {
  border-color: var(--high-priority);
}

.medium-p {
  border-color: var(--normal-priority);
}

.low-p {
  border-color: var(--low-priority);
}

/* ----------------------------------------------------- */
/* Archive Item/List Styles */
.archive-item {
  padding: 0.6rem 0.2rem;
  display: grid;
  grid-template: 1fr / 4fr 1.5fr 0.5fr;
  grid-template-areas: 'description time flag';
  font-size: 1.2rem;
  border-left: 0.25rem solid var(--foreground-color);
  opacity: 0.75;
}

.archive-item p {
  padding: 0 1rem;
}

.time-completed {
  justify-self: right;
  text-align: right;
  grid-area: time;
}

.completed-flag {
  justify-self: center;
  width: 1.5rem;
  height: 1.5rem;
  grid-area: flag;
}

/* ----------------------------------------------------- */

.no-overflow {
  overflow: hidden;
}

.input-group {
  position: relative;
  margin: 0.5rem 1rem;
}

.form-label {
  position: absolute;
  display: grid;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 1.4rem;
  cursor: pointer;
  opacity: 1;
  z-index: 2;
}

.push-back {
  z-index: -1;
}

.pull-forward {
  z-index: 3;
  opacity: 0;
}

.fade-out {
  transition: opacity 0.5s;
  opacity: 0;
}

.fade-in {
  transition: opacity 0.5s;
  opacity: 1;
}

.label-content {
  margin: auto;
}

.add-arrow {
  margin: 0 auto;
  width: 2rem;
  height: 0;
  cursor: pointer;
  animation: pulseArrow 2.5s linear infinite;
  z-index: 2;
  transition: height 1s;
}

@keyframes pulseArrow {
  0% {
    opacity: 0.25;
    transform: translateY(0rem);
  }
  50% {
    opacity: 1;
    transform: translateY(0.5rem);
  }
  100% {
    opacity: 0.25;
    transform: translateY(0rem);
  }
}

.add-arrow img {
  transform: scaleY(0);
  transition: transform 1s;
}

.show-arrow {
  height: 2rem;
}

.show-arrow img {
  margin-bottom: 0.5rem;
  transform: scaleY(1);
}

/* ----------------------------------------------------- */
/* Clock/Time Animation */
.rotate {
  transition: transform 2s;
  transform: rotate(-405deg);
}

.initial-time {
  display: inline-block;
  width: 0;
  opacity: 1;
}

.hide-time {
  display: inline-block;
  width: 0;
  opacity: 1;
  transition: opacity 1.5s;
  animation: slideOut 1.5s forwards;
}
@keyframes slideOut {
  from {
    width: 5.6rem;
  }
  to {
    width: 0px;
  }
}

.reveal-time {
  display: inline-block;
  width: 5.6rem;
  opacity: 1;
  transition: opacity 1.5s;
  animation: slideIn 1.5s forwards;
}
@keyframes slideIn {
  from {
    width: 0;
  }
  to {
    width: 5.6rem;
  }
}

/* ----------------------------------------------------- */
/* Priority Options/Animation */
.priority-option {
  position: absolute;
  display: grid;
  align-content: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 1.4rem;
  color: var(--background-color);
  opacity: 0;
  transition: opacity 0.5s, position 0.5s;
}

.high-priority {
  background-color: var(--high-priority);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.high-priority:hover {
  background-color: var(--high-priority-hover);
  color: var(--foreground-color);
}

.medium-priority {
  background-color: var(--normal-priority);
}

.medium-priority:hover {
  background-color: var(--normal-priority-hover);
  color: var(--background-color);
}

.low-priority {
  background-color: var(--low-priority);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.low-priority:hover {
  background-color: var(--low-priority-hover);
  color: var(--foreground-color);
}

.reveal-high {
  opacity: 1;
  animation: showHigh 0.5s forwards linear;
}

@keyframes showHigh {
  0% {
    top: 0%;
    transform: rotateX(180deg), scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    top: -100%;
    transform: rotateX(0deg), scaleY(1);
  }
}

.hide-high {
  opacity: 0;
  animation: hideHigh 0.5s forwards linear;
}

@keyframes hideHigh {
  0% {
    top: -100%;
    transform: rotateX(0deg), scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    top: 0%;
    transform: rotateX(180deg), scaleY(1);
  }
}

.set-high {
  animation: setHigh 0.5s forwards linear;
}

@keyframes setHigh {
  from {
    top: -100%;
    background-color: var(--high-priority);
    color: var(--background-color);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  to {
    top: 0%;
    background-color: var(--high-priority-hover);
    color: var(--foreground-color);
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
}

.reveal-medium {
  opacity: 1;
  transition: opacity 0.5s 0.25s;
}

.hide-medium {
  opacity: 0;
  transition: opacity 0.5s;
}

.set-medium {
  background-color: var(--normal-priority-hover);
  color: var(--background-color);
  animation: setMedium 0.5s forwards linear;
}

@keyframes setMedium {
  from {
    border-radius: 0;
  }
  to {
    border-radius: 0.5rem;
  }
}

.reveal-low {
  opacity: 1;
  animation: showLow 0.5s forwards linear;
}

@keyframes showLow {
  0% {
    top: 0%;
    transform: rotateX(-180deg), scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    top: 100%;
    transform: rotateX(0deg), scaleY(1);
  }
}

.hide-low {
  opacity: 0;
  animation: hideLow 0.5s forwards linear;
}

@keyframes hideLow {
  0% {
    top: 100%;
    transform: rotateX(0deg), scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    top: 0%;
    transform: rotateX(-180deg), scaleY(1);
  }
}

.set-low {
  animation: setLow 0.5s forwards linear;
}

@keyframes setLow {
  from {
    top: 100%;
    background-color: var(--low-priority);
    color: var(--background-color);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  to {
    top: 0%;
    background-color: var(--low-priority-hover);
    color: var(--foreground-color);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
}

/* ----------------------------------------------------- */
/* TTL Animation */
.show-ttl {
  animation: showTTL 250ms forwards;
  z-index: -1;
}

@keyframes showTTL {
  from {
    top: 0%;
    transform: scale(1);
  }
  to {
    top: -50%;
    transform: scale(0.75);
  }
}

.close-ttl {
  animation: closeTTL 250ms forwards;
}

@keyframes closeTTL {
  from {
    top: -50%;
    transform: scale(0.75);
  }
  to {
    top: 0%;
    transform: scale(1);
  }
}

/* ----------------------------------------------------- */
/* Goal Description Animation */
.hide-task-label {
  opacity: 0;
  transition: opacity 1s;
  animation: slideUp 1s forwards;
}
@keyframes slideUp {
  from {
    top: 0px;
  }
  to {
    top: -40px;
  }
}

.show-task-label {
  opacity: 1;
  transition: opacity 1s;
  animation: slideDown 1s forwards;
}
@keyframes slideDown {
  from {
    top: -40px;
  }
  to {
    top: 0px;
  }
}

/* ----------------------------------------------------- */
/* CSS ID Level Styles */

#light-theme {
  margin: 0.5rem;
  padding: 0.2rem;

  width: 2.5rem;
  height: 2.5rem;

  position: absolute;
  top: 0;
  left: 95%;
}

#current-date, #display-time {
  font-weight: lighter;
}

#display-time {
  position: relative;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

#header-clock {
  margin-right: 0.4rem;
  margin-bottom: 0.2rem;
  height: var(--h2-size);
  cursor: pointer;
  transition: transform 1.5s;
}

#task-input {
  min-width: 400px;
  padding-bottom: 0.4rem;
  border-bottom: 2px solid var(--accent-color);
  opacity: 1;
}

.required {
  animation: required 1s linear;
}

@keyframes required {
  0% {
    border-bottom: 2px solid var(--accent-color);
  }
  25% {
    border-bottom: 2px solid var(--high-priority-hover);
  }
  50% {
    border-bottom: 2px solid var(--high-priority);
  }
  75% {
    border-bottom: 2px solid var(--high-priority-hover);
  }
  100% {
    border-bottom: 2px solid var(--high-priority-hover);
  }
}

#task-input + label {
  background-color: var(--background-color);
}

#unfold-select {
  min-width: 120px;
  height: 100%;
  text-align: center;
  opacity: 1;
  cursor: pointer;
}

label:hover {
  color: var(--foreground-color-hover);
}

#ttl {
  min-width: 200px;
  height: 100%;
  display: grid;
  align-content: flex-end;
  text-align: center;
  font-size: 1.4rem;
}

#ttl-left {
  display: inline;
  position: absolute;
  left: 0;
  top: 50%;
  transform: rotateZ(90deg);
  display: grid;
  align-content: flex-end;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

#ttl-right {
  display: inline;
  position: absolute;
  right: 0;
  top: 50%;
  transform: rotateZ(-90deg);
  display: grid;
  align-content: flex-end;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

#active-area, #archive-area {
  margin: 0.8rem auto;
  max-width: 800px;
  transition: position 1s, height 1s;
}

/* ----------------------------------------------------------------- */
/* Media Queries */
@media screen and (max-width: 1100px) {

  header {
    height: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
  }

  #current-date {
    font-size: 2rem;
  }

  #display-time {
    display: none;
  }

  #input-area form {
    flex-direction: column;
  }

  .input-group {
    margin: 2rem auto;
    min-height: 2rem;
  }

  .active-item {
    grid-template: 1fr / 0.4fr 4fr 1fr 1fr;
    grid-template-areas: 'checkbox description ttl edit';
  }

  #ttl {
    margin: 1rem 0 0 0;
    min-width: 200px;
    height: 100%;
    text-align: center;
    font-size: 1.4rem;
  }

  #ttl-divider {
    display: none;
  }

  #light-theme {
    left: 90%;
  }

}

@media screen and (max-width: 500px) {

  #site-title {
    font-size: 2rem;
  }

  #current-date {
    font-size: 1.4rem;
  }

  .item-list {
    grid-gap: 2rem;
  }
  
  .active-item {
    grid-template: 1fr / 0.4fr 3.5fr 1.5fr 0.6fr;
    grid-template-areas: 'checkbox    description description'
                         'edit        ttl         ttl';
  }

}